<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= content_for(:title) %></title>
    
    <%= render 'layouts/meta' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
  <%= render 'layouts/header' %>
    <div class="container">
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
      <%= yield %>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
